body {
	font-weight: 200;	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-left: 15px;
	padding-bottom: 30px;
	background-color: #FAFAFA; 
}
h1{
	font-weight: 500;	
	color: #F9BF01;
}

.listatexto{
	font-weight: 400;
	color: #E0AC00;
}